.image-container {
  width : 360px;
  height : auto;
  animation: imageRotate .2s ease-in-out infinite;

  img {
    display: block;
    width : 100%;
  }
}

@keyframes imageRotate {
  0% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}