@font-face {
  font-family: 'dgdr';
  src:  url('/assets/fonts/dgdr.eot');
  src:  url('/assets/fonts/dgdr.eot#iefix') format('embedded-opentype'),
    url('/assets/fonts/dgdr.ttf') format('truetype'),
    url('/assets/fonts/dgdr.woff') format('woff'),
    url('/assets/fonts/dgdr.svg#dgdr') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}